.sudoku-candidates-container {
    font-size: calc(0.1em + 2vw);
    line-height: 1;
    color: dimgray;
    cursor: default;

    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

@media only screen and (min-width: 550px) {
    .sudoku-candidates-container {
      font-size: 12px;
    }
  }

.sudoku-candidate {
    display: inline-block;
    width: 30%;
}

.sudoku-cell-container .deselected {
    color: #bbb;
    visibility: hidden;
}

.sudoku-cell-container:focus .deselected {
    visibility: visible;
}

.sudoku-cell-container:focus .deselected:hover {
    color: #999;
    visibility: visible;
}

.sudoku-cell-container .removed {
    color: #FF4040;
    text-decoration: line-through;
}
