.sudoku-marks-container {
    font-size: 12px;
    color: dimgray;
    line-height: normal;
    cursor: default;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.sudoku-marks-container span {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.sudoku-marks-container .sudoku-mark-deselected {
    color: lightgray;
    visibility: hidden;
}

.sudoku-marks-container:hover .sudoku-mark-deselected {
    visibility: visible;
}

.sudoku-marks-container:hover .sudoku-mark-deselected:hover {
    color: dimgray;
    visibility: visible;
}
